<div class="modal-header">
  <button class="close" type="button" aria-label="Close"
  (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{node.name}}</h4>
</div>

<div class="modal-body container">
  <div class="col-xs-6">
    <app-metric
      [used]="node.cpu.used"
      [available]="node.cpu.available"
      [title]="'CPU'"
    ></app-metric>
  </div>
  <div class="col-xs-6">
    <app-metric
      [used]="node.mem.used"
      [available]="node.mem.available"
      [title]="'Memory'"
    ></app-metric>
  </div>
</div>
